
    #register{
        background-color:plum;
    }

    #contacts{

        background-color: aqua;
        text-align: right;
    }

    #nadpys{
        background-color: aquamarine;
        }

    #mainNav{
        background-color: darkkhaki;
    }

    .car{
        margin-top: 50px;
        max-width:90%;
    }

    #aboutUs{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    #map{
        background-color: lawngreen;
        height: 500px;
    }
    .room{
        max-width:90%;
    }
    .size-icon{
        font-size: 3em
    }





