
    #register{
        height: 50px;
        background-color: blueviolet;
    }

    #contacts{
        height:50px;
        background-color: aqua;
        text-align: right;
    }

    #nadpys{
        background-color: aquamarine;
        overflow: hidden;
        display: inline-block
        }

    #logo{



    }

    #mainNav{
        background-color: darkkhaki;
    }

    .car{
        margin-top: 50px;
        max-width:90%;
        height:350px;
        width: 500px;
    }

    #aboutUs{
        margin-top: 50px;
    }

    #map{
        background-color: lawngreen;
        height: 500px;
    }

    #content{
        margin-left: 100px;
        margin-right: 100px;
    }

