body{
    background-image: url(./../images/wall123.jpg) ;
    font-family: 'Poppins', sans-serif;
}

#contacts{
    background-color:#31558e;
    color:white;
    letter-spacing: 5px;

}
    #nadpys{
        background-position: 50% 50%;
        background-position-x: 50%;
        background-position-y: 50%;
        }

    .mainNav{
        background-color:#c3d7f7;
        font-family: 'Open Sans', sans-serif;
        font-size:25px;
        font-weight: bold;

    }
     ul li a{
color:green;
    }

    .my_img{
        max-width:90%;
    }
#map{
        height: 500px;
        overflow-y: scroll;
    }
.size-icon{
        font-size: 3em
    }
    .media-icon {
        vertical-align: middle;
        display: inline;
    }
    .media-icon span{
        margin-left: 1em;
    }
    /*.icon{*/
    /*    height: 32px;*/
    /*   width: 32px;*/
    /*    border: 1px solid black;*/
    /*}*/
    .restzoneimg{
        height: 480px;
        width: 740px;
    }
    #logo_background{
        height: 150px;
        background-color: #dfe5eb;
        background-image: url(./../images/long1.png) ;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-position-x: 50%;
        background-position-y: 50%;
    }





